:root {
  --pale-grey: #f5f6fa;
  --white: #ffffff;
  --azure: #0290ff
}

.App {
  text-align: center;
  width: 800px;
  height: 600px;
  background-color: var(--white);
  padding: 30px;
}

.container {
  width: 600px;
}
