@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pale-grey: #f5f6fa;
  --white: #fff;
  --azure: #0290ff;
  --black-three: #121212;
  --font: #fafafa;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
}

body {
  background-color: var(--pale-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-family: 'Montserrat', sans-serif;
}
